body {
    margin: 0;
    margin-top: 20px;
    /* background-image: linear-gradient(rgb(228, 228, 228), rgb(30, 184, 184)); */
    width: 100vw;
    /* height: 150vh; */
    /* background-color: #FF6347; */
    background-image: url("../imagens/sandubinha_bg.png");
    background-repeat: initial;
    background-color: #FFE4C4;
}

.jumbotron {
    background-repeat: initial;
    background-color: #ed9a3e;
}

div.login {
    width: 30%;
    height: 50vh;
    display: inline-block;
}

div.cadastro {
    margin-top: 10%;
    width: 35%;
    height: 40vh;
    display: inline-block;
}


/*modais*/

#add_func {
    text-align: inherit;
    display: none;
}

#alter_func {
    text-align: inherit;
    display: none;
}

#delete_func {
    text-align: inherit;
    display: none;
}

#add_prod {
    text-align: inherit;
    display: none;
}

#alter_prod {
    text-align: inherit;
    display: none;
}

#delete_prod {
    text-align: inherit;
    display: none;
}

#add_categ {
    text-align: inherit;
    display: none;
}

#alter_categ {
    text-align: inherit;
    display: none;
}

#delete_categ {
    text-align: inherit;
    display: none;
}


/* formulario de att */

#attForm_produto {
    display: none;
}

#attForm_categoria {
    display: none;
}

#attForm_funcionario {
    display: none;
}