body {
    margin: 0;
    margin-top: 20px;
    /* background-image: linear-gradient(rgb(228, 228, 228), rgb(30, 184, 184)); */
    width: 100vw;
    /* height: 150vh; */
    /* background-color: #FF6347; */
    background-image: url("../imagens/sandubinha_bg.png");
    background-repeat: initial;
    background-color: #FFE4C4;
    /* background-color: red; */
}

.jumbotron {
    background-repeat: initial;
    background-color: #fcb667;
}

div.login {
    width: 30%;
    height: 50vh;
    display: inline-block;
}

div.cadastro {
    margin-top: 3vh;
    width: 50vh;
    height: 40vh;
    display: inline-block;
}


/*modais*/

#perfilBG{
    position: fixed;
    display: none;
    z-index: 2;
    width: 100vw;
    height: 100vh;
}

#modalPerfil{
    margin-top: 20vh;
    background-color:#b3dee3;
    z-index: 3;
    width: 70vw;
    height: 65vh;
    border-radius: 6px;
    margin-left: 15vw;
    box-shadow: gray;
}

#modal_cliente{
    display: none;
}

#add_func {
    text-align: inherit;
    display: none;
}

#alter_func {
    text-align: inherit;
    display: none;
}

#delete_func {
    text-align: inherit;
    display: none;
}

#add_prod {
    text-align: inherit;
    display: none;
}

#alter_prod {
    text-align: inherit;
    display: none;
}

#delete_prod {
    text-align: inherit;
    display: none;
}

#add_categ {
    text-align: inherit;
    display: none;
}

#alter_categ {
    text-align: inherit;
    display: none;
}

#delete_categ {
    text-align: inherit;
    display: none;
}


/* formulario de att */

#attForm_produto {
    display: none;
}

#attForm_categoria {
    display: none;
}

#attForm_funcionario {
    display: none;
}